[2017-03-16 18:24] jefflinwood opened #1 "Support CallKit"
May require iOS 10 and above for plugin

[2017-03-16 18:25] jefflinwood opened #2 "Support Twilio Voice Client SDK Install from Cocoapods"
This may require some work with the Cordova iOS Framework to support multiple Cocoapods pod spec sources

[2017-03-16 18:25] jefflinwood opened #3 "Speaker Mode"
Support speaker mode, either through CallKit or through some way

[2017-03-16 18:26] jefflinwood opened #4 "Android version"
Add an Android plugin

[2017-03-16 18:26] jefflinwood opened #5 "Ringtone support"
Either support ring tones internally, or support them through CallKit

[2017-03-20 14:13] #1 closed

[2017-03-20 14:14] jefflinwood opened #6 "Set Plugin Minimum Versions"
iOS engine integration for Cordova - iOS 4.3
iOS version - 10 (for CallKit)

[2017-03-21 19:40] #4 closed

[2017-03-21 19:40] jefflinwood commented on #6
Cordova version and engines are set.

[2017-03-21 19:41] jefflinwood opened #7 "Test Final Version of Plugin on Nougat"
Test the final version of the plugin on Nougat for any permissions issues.

[2017-03-22 18:18] #3 closed

[2017-03-22 18:58] jefflinwood opened #8 "Upgrade to Twilio Voice iOS 2.0.0-beta 7 and test"

[2017-03-22 20:02] jefflinwood opened #9 "Publish plugin to npm"

[2017-03-22 20:02] jefflinwood opened #10 "Create documentation on an event and method basis"

[2017-03-22 21:40] jefflinwood opened #11 "Wake up Cordova Android Activity on Incoming Call"

[2017-03-22 22:06] jefflinwood opened #12 "Add method: Get Current Speaker State: isOnSpeaker()"

[2017-03-22 22:07] jefflinwood opened #13 "iOS Speaker: Replace Deprecated Code"

[2017-03-22 22:13] jefflinwood opened #14 "iOS: After reboot, VOIP Incoming Call leaves App in uninitialized State"
Steps to repeat:

Leave app running
Reboot phone
Do not open app as icon
Send incoming call request
CallKit screen will show after a delay
Cordova app will load, but will not be initialized.

[2017-03-22 22:16] #5 closed

[2017-03-22 22:18] jefflinwood opened #15 "Configure Ringtone, CallKit App Name, Call App Logo via Javascript"
Allow developers to provide their own ringtone, CallKit App Name, and logo (for CallKit and for Notifications) via JS in the plugin.

Ideally ringtone and logo would be in the www directory.

[2017-03-22 22:18] jefflinwood opened #16 "Android: Investigate Race Condition between ondeviceready and incoming connection"
Investigate the race condition between ondeviceready and an incoming connection

[2017-03-23 22:15] GerryFudd opened #17 "Create an event that indicates the client is ready for calls"
#### My use case: #### I want to receive a twilio token, use it to initialize the client, and then send a request to the server to make a test call as soon as my twilio client is ready.

#### Current behavior: #### I run the initialize method and the twilio client is created, but there is no promise/callback/event that I can use to indicate that the initialization is complete

#### Desired behavio

[2017-03-24 01:27] jefflinwood commented on #17
I think a callback will work - Good idea!

[2017-03-27 19:21] jefflinwood commented on #2
This is a feature enhancement for the cordova ios framework:

https://issues.apache.org/jira/browse/CB-12216

[2017-03-27 19:35] jefflinwood commented on #9
Done https://www.npmjs.com/package/twilio-voice-phonegap-plugin

[2017-03-27 19:35] #9 closed

[2017-03-27 22:04] #11 closed

[2017-03-27 22:05] jefflinwood opened #18 "Android: No ringtone on Notification"
Need to address this

[2017-03-28 13:33] jefflinwood commented on #2
Also could be possible with a custom hook that modifies the generated Podfile for the iOS Platform:

https://cordova.apache.org/docs/en/latest/guide/appdev/hooks/index.html

[2017-03-28 14:38] jefflinwood commented on #2
The custom hooks idea isn't particularly feasible, as the Podfile gets completely replaced by the Cordova installation process, breaking any additions of the source. The template for the Podfile is baked into Podfile.js, making it difficult to update.

[2017-03-28 16:37] #18 closed

[2017-03-28 16:37] jefflinwood commented on #16
This should be addressed by the use of the pending intent for incoming calls

[2017-03-28 16:37] #16 closed

[2017-03-28 21:15] jefflinwood opened #20 "iOS: Support DTMF Key Presses via CallKit"
https://developer.apple.com/reference/callkit/cxplaydtmfcallaction

[2017-03-28 21:50] jefflinwood opened #21 "Android: Compatibility with PhoneGap Push Plugin"
Both plugins have the GcmReceiver

[2017-03-29 18:51] #20 closed

[2017-03-29 19:24] jefflinwood commented on #21
Similar issue from Intercom's Cordova Plugin

https://github.com/phonegap/phonegap-plugin-push/issues/1640

[2017-03-31 00:01] GerryFudd opened #22 "I am not receiving the callinvitecanceled event."
I just received a call and declined it a number of times.  I don't see the log that should come from `NSLog(@"Call Invite Cancelled: %@", [callInvite description]);`.

Also (unsurprisingly) the callback that I submitted to `callinvitecanceled` doesn't run after I decline a call.

[2017-03-31 15:14] jefflinwood commented on #22
Hi,

Are you expecting it when you decline the call from the user who is getting the call, or when you are cancelling the call from the person who is sending the call?

I think it may only occur when the call invite is canceled by the caller - let me know if that isn't working.

[2017-03-31 16:07] GerryFudd commented on #22
I am expecting the event when I receive the call through CallKit.  If it only fires when the caller hangs up, then that explains why the event doesn't fire.

It would be useful to have an event that fires when I hang up from CallKit (is this possible?)

[2017-03-31 17:12] jefflinwood commented on #22
Call did disconnect should fire - would that work?

[2017-03-31 18:13] GerryFudd commented on #22
That should work.

[2017-03-31 18:20] GerryFudd commented on #22
I just checked.  I'm not getting call did disconnect either.  I'm assuming call did disconnect only fires if the connection is established initially.  This use case is that the app user rejects an incoming call rather than answering.

[2017-03-31 18:21] GerryFudd commented on #22
Consider this a low priority ticket by the way.  If you have other tasks that you're already planning on getting to, don't worry about this one for now.

It's more of a thing that would be nice to have rather than something that's imperative.

[2017-03-31 20:12] kshaaban- commented on #21
I copied over the solution from the referenced issue.

The problem now is when building the cordova app there's a conflict in the manifest

[phonegap-plugin-push](https://github.com/phonegap/phonegap-plugin-push/blob/master/plugin.xml#L43-L48) has the following configuration:
[code]

While this plugin has
[code]

I ended up commenting out the one in `phonegap-plugin-push` for now and the build fin

[2017-03-31 21:23] jefflinwood commented on #21
Hi @kshaaban - did you see that Intercom just addressed their issue a different way:

https://github.com/intercom/intercom-cordova/pull/166/files

[2017-04-04 20:29] jefflinwood commented on #2
This is working as a proof of concept, using custom additions to the Podfile in:

https://github.com/jefflinwood/cordova-ios/commit/de9f9709f903d5931d7b13f487862e6ba5578dfb

And using this framework element in plugin.xml:

        <framework src="TwilioVoiceClient" type="podspec" spec="=2.0.0-beta6" />

[2017-04-04 20:31] jefflinwood commented on #2
Suggestion here would be to improve Cocoapods support in Cordova with:
1) Configurable iOS version (instead of hardcoded 8.0)
2) Support for multiple source's (https://issues.apache.org/jira/browse/CB-12216)
3) Configurable use_frameworks!

[2017-04-07 18:37] jefflinwood opened #27 "Android: Turn Users screen on for a few seconds when receiving inbound call"
Use the Wake Lock permission

http://stackoverflow.com/questions/39385616/how-to-set-that-screen-on-device-is-on-and-vibrate-when-notification-comes

[2017-04-07 18:42] jefflinwood opened #28 "iOS CallKit + Android: Make App Name configurable"
Don't use the Twilio Voice for PhoneGap except as a default.

[2017-04-07 20:39] jefflinwood commented on #28
Fixed in https://github.com/jefflinwood/twilio-voice-phonegap-plugin/pull/30

[2017-04-07 20:39] #28 closed

[2017-04-25 20:11] #27 closed

[2017-04-25 20:11] #21 closed

[2017-04-25 20:11] #8 closed

[2017-08-03 09:20] tonysumi opened #34 "Android: GCM Or FCM"
Hi jefflinwood,

I Appreciate your good work and contributions.
I've a doubt. Lately, I've been trying to achieve an incoming call but nothing turn up to be successful.
Some questions like:
1) Can I use FCM sender_id instead of GCM sender_Id ?
  As per Twilio documentation (https://github.com/twilio/voice-quickstart-android#migrating-from-gcm-to-fcm) GCM is migrated to FCM.

2) On Initializing the

[2017-08-03 11:07] tonysumi opened #35 "Service not running."
GCMRegistrationService, VoiceInstanceIDListenerService and VoiceGCMListenerService services does not run even after device initialization is done successfully. Any Idea?

[2017-08-04 00:57] jefflinwood commented on #35
Hi,

I'm not completely sure, but are they in the AndroidManifest.xml of the generated Phonegap app in platforms/android?

[2017-08-04 00:58] jefflinwood commented on #34
Great question - the Android SDK here needs to be updated with FCM support. That said, the FCM sender id may work, I'm not sure.

[2017-08-04 07:19] tonysumi commented on #35
I'm using Outsystems platform for mobile app development in which "twilio-voice-phonegap-plugin" is used as a plugin.
Is it because of two different package names? (one from Outsystems app and other from Plugin)
On Decompiling outsystems app's apk, I can see the three services of **twilio-voice-phonegap-plugin** under AndroidManifest.xml. Outsystems app's apckage name is "**com.outsystemscloud.Twi

[2017-08-04 17:28] jefflinwood commented on #35
That's probably it - they may rename the plugins internally, but the Android Manifest would also need to be updated.

[2017-08-07 12:12] tonysumi commented on #34
Hi Jefflinwood,

Is this "twilio-voice-phonegap-plugin" under development ? Hoping for more updates on this Plugin. :)

[2017-08-07 13:55] jefflinwood commented on #34
Hi,

Yes - there was an initial burst of activity to get this plugin up to a certain point, but I'll need to continue with that to get this updated with the latest versions of the SDK.

[2017-08-13 09:24] ravishekharco commented on #34
Hi Jefflinwood,
Great work. And thanks for your contribution.

Do you have a plan to upgrade the plugin to use latest Android/iOS SDKs from Twilio (which utilises FCM instead of GCM) in the near future?

[2017-08-14 18:58] PaulPaulDevelops opened #36 "Echo During Call"
Hey All,

I wanted to post and ask if anybody has experienced any echo during a call. If so, how did you resolve this? Is this plugin utilizing any of Twilios echo cancellation software? I have also submitted a ticket to Twilio asking about the echo cancellation software as well.

I'm utilizing this plugin for an Ionic 1 (specifically version 1.3.1) project to connect to Twilio to make phone calls

[2017-08-17 14:28] jefflinwood commented on #36
Hi,

I haven't heard any echos, but that doesn't mean that they wouldn't be there in your scenario. All of that would most likely be coming from the individual voice SDKs - the Phonegap plugin shouldn't be introducing any latency into the actual audio communications.

It could be something to be addressed in the Android Voice SDK, especially if you can make a scenario that reproduces it (for insta

[2017-11-16 13:43] mobileias opened #37 "not able to install plugin for phonegap cli 7.0.1"
Hello Sir

We are creating build using phonegap cli 7.0.1
and it created apk fine but for ios it says
Like
Error - The following 3rd-party plugin is causing the build to fail and may need to be updated to a newer version: com.phonegap.plugins.twiliovoice

And for android it also not works . APK created fine but when i try to call it throw error like

Generic Error.

So can you please help me for t

[2018-01-11 13:57] tonysumi opened #38 "Cordova version"
The following errors have occurred:
• In Android on 11-01-2018 at 19:04:31 - Error installing Cordova plugin: https://github.com/jefflinwood/twilio-voice-phonegap-plugin.git. Your plugin does not support this Cordova version.

trying to run your plugin in Cordova 8.0.0 , cordova android 7.0.0

[2018-01-12 08:24] tonysumi commented on #38
@jefflinwood , Please suggest!!!
 This Plugin was working fine last year (2017).
But now I can't use twilio-voice-phonegap-plugin in my project.
Can you please check at your end ?

Thanks in advance

[2018-01-12 13:44] tonysumi commented on #38
The problem was with plugin.xml       line 39 <dependency id="phonegap-plugin-push"/>

[2018-01-12 14:37] jefflinwood commented on #38
With the push plugin?

        <dependency id="phonegap-plugin-push"/>

[2018-03-01 17:58] ariveraati commented on #22
This is most likely fixed with the latest PRs on master.  @jefflinwood

[2018-03-01 17:59] ariveraati commented on #13
@jefflinwood may be resolved by latest PRs on master

[2018-07-13 23:28] jayzam opened #44 "Updating to newer Twilio Voice release"
Hello Jeff

Thanks for your effort in making this plugin available.

I was looking to use your plugin for my ionic cordova project but I just noticed this from Twilio:

"Please note that older versions of the Programmable Voice Android library prior to 2.0.4 are deprecated and will stop working on September 13, 2018."

Do you expect you will have a new version out by then?  I'm going to look into

[2018-07-14 00:11] jayzam commented on #44
I noticed the latest commits appeared to be updating for the new releases.  I grabbed a new download and it was set for 2.0.7.  Yay

I don't know if you just did that recently or if I somehow had an old build.  I'll get started with the new version.

Jay

[2018-07-14 00:11] #44 closed

[2018-07-17 19:47] jayzam opened #45 "Is the FCM ready?"
I noticed your latest commits and the the newest download has FCM and is working with Twilio 2.7.  Is this ready.  I am using it and it is working for iOS but I'm getting a ring no answer for Android.  It may be an issue with my Twilio/Firebase setup but before I got into the weeds I though I would check with you to see if it's ready on your end.

If so is there any additional setup I need to be a

[2018-08-12 19:43] ansongoldade opened #46 "Syntax error in SoundPoolManager.java"
https://github.com/jefflinwood/twilio-voice-phonegap-plugin/blob/e815924c99ef5e3b32ba6320c3d6b7c928b3faa0/src/android/com/phonegap/plugins/twiliovoice/SoundPoolManager.java#L81

Should be `public boolean isRinging() {` instead of `public booleanisRinging() {`

Found this when trying to build a project that depends on this package.

[2018-08-13 21:45] jefflinwood commented on #46
Yep! Fixed in 1c48a94

Thanks!

[2018-08-13 21:45] #46 closed

[2018-08-15 11:42] BorntraegerMarc opened #47 "Always adds "cordova-plugin-twiliovoice" to dependencies"
When I add this plugin to my dependencies there is always an additional entry "cordova-plugin-twiliovoice" to the normal "twilio-voice-phonegap-plugin". This should not happen because my CI build fails because of this now.

[2018-08-15 22:52] jefflinwood commented on #47
Does it work if you uninstall the twilio-voice-phonegap-plugin first?

[2018-08-16 06:02] BorntraegerMarc commented on #47
No. Why would that change the behavior anyway?

[2018-08-16 11:33] jefflinwood commented on #47
A recent PR for this project renamed the plugin to match Cordova's naming standards for plugins.

[2018-08-20 16:36] BorntraegerMarc commented on #47
maybe the project name and the package.json should be changed as well accordingly?

[2018-08-21 13:45] jefflinwood commented on #47
I think that would be a good idea....I think keeping everything consistent would be a net positive.

[2018-08-21 13:47] BorntraegerMarc commented on #47
This is everything I had to change to get it properly to work in my project: https://github.com/jefflinwood/twilio-voice-phonegap-plugin/compare/master...BorntraegerMarc:master

[2018-08-21 14:07] jefflinwood commented on #47
Ok - I think I want to keep the plugin name (cordova-* instead of komed-cordova-*) so I'll reject that PR, but it will look like that. Thanks!

[2018-08-21 14:09] BorntraegerMarc commented on #47
I never opened a PR it was only to show what I did 😉

[2018-08-21 14:12] jefflinwood commented on #47
Hah! Fair enough, I just didn't want to seem like I was criticizing your work!

[2018-08-21 14:14] BorntraegerMarc commented on #47
no worries 😃

[2018-08-21 14:40] jefflinwood commented on #47
I have it published to cordova-plugin-twiliovoicesdk for the cordova plugin plus npm, but npm hasn't published the package publicly yet...I'll give it a few minutes to catch up.

[2018-08-21 14:45] jefflinwood commented on #47
https://www.npmjs.com/package/cordova-plugin-twiliovoicesdk

[2018-09-05 16:01] raviverma89 opened #49 "After updating IOS to 11.4 version, it does not work"
It was working good untill i updated my IOS,
i checked error on Xcode console, it gives below error
....SIP registration failed, status=403 (Forbidden)

[2018-09-06 07:41] BorntraegerMarc commented on #49
The plugin works perfectly for me on iOS 11.4 and 12

[2018-09-06 08:33] raviverma89 commented on #49
@BorntraegerMarc , Did you update your twilio library in xcode manually?

[2018-09-06 08:35] BorntraegerMarc commented on #49
No...

On Thu, Sep 6, 2018 at 10:33 AM Ravi verma <notifications@github.com> wrote:

[2018-09-18 08:33] BorntraegerMarc commented on #49
This issue should be closed...

[2018-09-18 08:40] #49 closed

[2018-10-03 15:28] raviverma89 opened #50 "invalid access token"
while connecting a call it showing a error invalid access token but token is valid and also checked by web or jwt.io it is showing following error

Call Did Fail with Error: <TVOCall: 0x17d02200>, Twilio Error 20102

[2018-10-08 11:20] #50 closed

[2018-10-08 15:33] lyngbach opened #51 ":app:processDebugGoogleServices FAILED - firebase-messaging versioning conflict"
build fails with firebase-messaging version being out of sync with google-services plugin

Steps to reproduce
0) using cordova v8.0.0 or v8.1.2
1) create  a clean cordova demo app
2) add android@7.1.1
3) install twiliovoicesdk
4) add google-services.json file to root and config.xml
5) copy over the demo app files into the www folder
6) include TwilioVoicePlugin.js and cordova-plugin-device
7) cord

[2018-10-09 20:39] lyngbach commented on #51
So I did some more digging I and found out my 2 issues (the out of sync google services and the crash) was unrelated.

The first issue with the incompatible `com.google.firebase:firebase-messaging:10.2.1` seems to come from a recent update to the phonegap-plugin-push with the v2.2.3+ having "cordova-support-google-services" as a dependency now which messes up with the v10.2.1 of this plugin.
Setti

[2018-10-26 05:58] AzharuddinKhilji opened #52 "Android Push Notification using FCM"
We tried implementing the Push notification for Android but it isnt working, anyone have any solutions for this issue?

We used the following steps to configure the push notification
https://www.twilio.com/docs/notify/configure-android-push-notifications

Please help with this issue.

[2018-11-14 20:38] PaulPaulDevelops opened #53 "Android FCM Incoming Calls"
Hello,

My team is currently utilizing an older version of this plugin in an Ionic 1 application. It works great as it is using GCM, but we needed to update our project to utilize FCM instead of GCM due to the latest Android device updates ... newer Android devices utilizing NotificationChannels, call notifications aren't going through as a result. GCM is officially being deprecated next April, as

[2018-11-28 21:43] PaulPaulDevelops commented on #53
Updating the issue. We were able to start debugging with logs in Android Studio, and it seems like the issue is that the phonegap-plugin-push is not connecting with this plugin in the way that it expects to.

If anyone has ran into this issue, and could provide any insight that would be very appreciated. Thanks!

[2018-11-28 21:44] #36 closed

[2019-03-07 13:58] raviverma89 opened #55 "Not working on Android, need libvoice.so file for different architecture"
on android it is not working, shows below error :
halted due to an error
    com.getkeepsafe.relinker.MissingLibraryException: lib/armeabi/libvoice.so
        at com.getkeepsafe.relinker.ApkLibraryInstaller.installLibrary(ApkLibraryInstaller.java:85)
        at com.getkeepsafe.relinker.ReLinkerInstance.loadLibraryInternal(ReLinkerInstance.java:180)
        at com.getkeepsafe.relinker.ReLinkerInsta

[2019-03-07 14:04] raviverma89 commented on #55
it worked when i changed armeabi to armeabi-v7a in build.gradle

ndk {
abiFilters "armeabi-v7a", "x86"
}

[2019-03-18 13:34] ipehimanshu opened #56 "Push notfication not comes into android when incoming call comes"
Hello sir

please see attached screenshot

![image](https://user-images.githubusercontent.com/26652038/54533531-68a18b80-49b0-11e9-87a6-3a8712437332.png)

i am using ionic cli to create build and i have installed push with valid credentials . now when incoming call comes i am not able to receive any notification or incoming event in foreground app running .
Can you please help me to figure our iss

[2019-04-09 16:47] #53 closed

[2019-06-04 13:00] nithin-peter opened #57 "Getting "Class not found" error while setup"
TwilioPlugin.Device.prototype.setup = function(token) {
        // Take a token and instantiate a new device object
        var error = function(error) {
            if(delegate['ondeviceerror']) delegate['ondeviceerror'](error)
            if(delegate['onconnectionerror']) delegate['onconnectionerror'](error)
        }

        var success = function(callback) {
            var argument = callbac

[2019-06-05 00:06] jefflinwood commented on #57
Hi, from Class Not Found, I'm going to guess this is on Android - here is a similar issue in another Cordova project - are you using any other plugins?

https://github.com/dealrinc/cordova-gmv-barcode-scanner/issues/5

[2019-06-07 06:56] nithin-peter commented on #57
Hi, this issue came in android.
I used cordova-android@7.1 as mentioned from the above link but it didn't work for me.

[2019-06-12 14:18] conrad10781 commented on #51
@lyngbach ,

[code]

What specifically did you do here to set the desired version and get it to build?

Running into the same issue.

[2019-06-12 18:48] lyngbach commented on #51
It's been a while now, and haven't had the issue since then but under ```plugins/cordova-plugin-twiliovoicesdk/plugin.xml```

I changed the following to version 11.6.2

[code]

[2019-06-21 11:03] adnanumar opened #59 "Archive failed when plugin added to app"
** ARCHIVE FAILED **

The following build commands failed:
	CompileC /Library/Developer/Xcode/DerivedData/ManageQuick-algbtxoodiiterevwywvypwmcnnu/Build/Intermediates.noindex/ArchiveIntermediates/ManageQuick/IntermediateBuildFilesPath/ManageQuick.build/Release-iphoneos/ManageQuick.build/Objects-normal/armv7/TwilioVoicePlugin.o ManageQuick/Plugins/cordova-plugin-twiliovoicesdk/TwilioVoicePlugin.m n

[2019-06-27 07:55] suhail339 commented on #59
@jefflinwood Can you please help, i have this issue too.

[2019-07-01 16:54] jefflinwood commented on #59
Hi, Is it failing for you on the online Phonegap build tool @suhail339?

It's most likely because that service doesn't import the TwilioVoice library - you'll have to ask their support for how to get that setup.

[2019-07-02 03:45] suhail339 commented on #59
@jefflinwood  thanks for the reply, yes you are right. I will have to ask them. Or perhaps i should make cordova build from cli.

[2019-07-15 11:39] adnanumar opened #60 "ios 12.1 incoming call not working"
Hi, i have APNs enabled and testing for the "incoming call". Incoming call is not working (it seems because everything is working fine).

[2019-07-18 11:45] #60 closed

[2019-07-18 11:46] adnanumar commented on #59
Doing manual build, i was able to integrate this plugin. thanks

[2019-08-09 05:50] flitwebsgit opened #61 "Integrate cordova-plugin-twiliovoicesdk in ionic 4"
I have just installed the cordova-plugin-twiliovoicesdk in ionic 4 application but now i'm really frustrated that how to use this plugin and import in ionic 4 application

[2019-08-09 20:45] jefflinwood commented on #61
Hi, what specific questions did you have about how to use it in Ionic 4? Or did you want a tutorial or walkthrough?

[2019-08-12 12:17] flitwebsgit commented on #61
Hi, basically i want to integrate this plugin into ionic 4 with FCM token.
I tried to integrate it and almost done with the setup but whenever I tried to call from one device to another device, no incoming call notification occurred.

[2019-08-12 12:22] flitwebsgit commented on #61
and it is very helpful if give some tutorial or walkthrough

[2019-08-13 09:37] flitwebsgit commented on #53
hi, @PaulPaulDevelops did your issue is resolved if yes can you please tell me how you resolved this issue just because I'm also facing the same issue. I have set up this plugin and outgoing call is working superb but  incoming in not working

[2019-08-13 09:41] flitwebsgit opened #62 "Incoming call not working in Ionic application"
Hi, @jefflinwood currently I'm facing an issue that is incoming call is not working I mean the outgoing call is working fine but if I'm calling from one device to another of different identity access token than incoming to that device is not working, no call notification or the dialog is appearing.

[2019-08-13 20:54] jefflinwood commented on #62
Hi,

It's probably a problem with the FCM integration - Firebase Cloud Messaging - do you have the push plugin receiving the FCM messages?

[2019-08-14 05:19] flitwebsgit commented on #62
@jefflinwood yes i have push plugin and when i try to publish notification from firebase  all notification is receiving to the devices

[2019-08-14 05:22] flitwebsgit commented on #62
![Screenshot 2019-08-14 at 10 50 12 AM](https://user-images.githubusercontent.com/40888625/62996207-6e2cd000-be81-11e9-8ad1-7b6e68e1097c.png)
above is my project.properties file

![Screenshot 2019-08-14 at 10 50 45 AM](https://user-images.githubusercontent.com/40888625/62996233-8ac90800-be81-11e9-90b8-bb5b010e33b3.png)
and thisone is my config.xml

[2019-08-17 12:32] flitwebsgit commented on #56
same issue for me

[2019-08-20 07:18] ronieporwal06 opened #63 "Ionic Incoming Call Not Receiving or Device is not Register with FCM"
Hi @jefflinwood ,

I'm Using your plugin in Ionic 4 Application and i have done all the things and device is ready and calls are made but not receiving while i have tried to get notification from firebase and notification are receiving on device but not call.

![Screenshot 2019-08-14 at 10 50 12 AM](https://user-images.githubusercontent.com/43231370/63325852-97010980-c348-11e9-90ff-ef5e99311d99.pn

[2019-08-23 09:38] nurfgun opened #64 "Install guide is lacking."
When I tried installing this plugin, All I got was
[code]

Most of people use Cordova project because either they don't AND don't want to know  a thing about native languages or even though they know some but don't want to bother with them.

just "ADD" to Xcode project was not so much helpful to me, cause I am the former.

spent hours looking into native developments  to understand the concept of

[2019-08-23 20:32] jefflinwood commented on #64
Hi,

Unfortunately, those two steps need to be done in Xcode. Cordova is missing
the necessary tooling in the iOS plugin to automatically add these as part
of the installation process.

Try dragging the framework into the Xcode project, and then on the Xcode
project General Settings screen, click the plus button under Embedded
Binaries and choose the TwilioVoice framework.

Thanks,
Jeff

On Fri, A

[2019-08-24 00:26] nurfgun commented on #64
Thanks for quick reply.

This is what I did :

1. dragged and dropped the framework file into the left column of Xcode project.
2. Dialog showed up with "Copy items if needed" checked, "create folder references" checked, and target being "GoogleToolboxForMac".
3. clicked "Finish" button.
4. went to General settings tab, scrolled down to the Embedded Binaries, and clicked the plus button.
5. could

[2019-08-24 01:55] jefflinwood commented on #64
Try making sure that the target is whatever your app’s name is -
GoogleToolboxForMac isn’t your app’s main target.

On Fri, Aug 23, 2019 at 5:27 PM Daniel Kim <notifications@github.com> wrote:

[2019-08-24 02:25] nurfgun commented on #64
Finally got it to work.
this is what i did differently from before
1. drag and drop the framework into the Frameworks folder of my porject
2. add the framework from the saved(?) folder at Embedded Binaries in General settings tabs
Happy weekend 👍

[2019-08-24 02:25] #64 closed

[2019-08-28 02:19] nurfgun commented on #51
I was having the same issue...

Would be nice to provide a variable like --variable=GMS_VERSION
cordova-plugin-google-analytics, and phonegap-plugin-push are doing it, so why not for this plugin!

thanks in advance :)

[2019-09-01 20:14] nabinem commented on #61
how to use this plugin and import in ionic 4 application

[2019-09-06 00:47] SohrabZ opened #67 "Cordova has the old version"
Hi @jefflinwood,

When I installed the Cordova package I've noticed that there is a code difference between the master branch and the Cordova package. I think you need to update the package in Cordova website to fix the issue.

[code]

[2019-10-13 06:12] Finesse commented on #64
I tried the steps described above and got the following error:

[code]

Still can't solve it. An installation instruction is still required.

[2019-12-20 23:45] jayzam commented on #62
I was having the same issue with incoming calls not working on ios.  (It works on Android)  I found this from Twilio and it helped me to resolve the problem.

https://github.com/twilio/twilio-voice-ios/blob/Releases/iOS-13-Migration-Guide.md

Based on this I made a change to TwilioVoicePlugin.m in this function.

#pragma mark PKPushRegistryDelegate methods
- (void)pushRegistry:(PKPushRegistry *)re

[2019-12-20 23:46] jayzam commented on #63
I was having the same issue with incoming calls not working on ios. (It works on Android) I found this from Twilio and it helped me to resolve the problem.

https://github.com/twilio/twilio-voice-ios/blob/Releases/iOS-13-Migration-Guide.md

Based on this I made a change to TwilioVoicePlugin.m in this function.

#pragma mark PKPushRegistryDelegate methods

(void)pushRegistry:(PKPushRegistry *)regis

[2020-01-20 02:38] dasider41 commented on #61
Anyone have an example with ionic 3?

[2020-02-25 13:40] umesh-technource commented on #63
Hello @jayzam

I am trying to integrate this plugin in my ionic 4 app. Could you please provide steps you have followed to get started with this plugin. Since there are is no official documentation provided for this plugin. Any help would be much appreciated.

Thanks

[2020-02-26 09:43] umesh-technource opened #69 "Missing setup guide"
Hi @jefflinwood
I want to integrate this plugin into my Ionic 4 app. Could you please provide setup instructions so that I can get started with this plugin.
Thank you

[2020-02-27 18:10] jayzam commented on #63
Sorry, but I did not really document it fully.  It took a bit to get it going so my notes are pretty random.

I started by getting the twilio quickstarts up and running so that I had all my twilio setup working.  If you haven't already, you can do that.

https://github.com/twilio/voice-quickstart-objc#quickstart
https://github.com/twilio/voice-quickstart-android

I'm happy to try to help but I don

[2020-02-28 01:15] jefflinwood commented on #69
Hi, I'm going to see if I can get this to work the new Ionic 5, and then document that. The setup should be similar.

[2020-02-28 01:16] jefflinwood opened #70 "Create Documentation for use with Ionic 5"

[2020-02-28 01:17] jefflinwood opened #71 "Update to Latest Twilio Voice SDKs"
Android - Version 3
iOS - Version 5

https://github.com/jefflinwood/cordova-plugin-twiliovoicesdk/pull/68

[2020-03-02 07:01] umesh-technource commented on #69
Hello,
Thank you for your response. In the meantime could you please provide basic
steps to simply setup the plugin and made a basic call in the IONIC 4
Thank you

On Fri, Feb 28, 2020 at 6:45 AM Jeff Linwood <notifications@github.com>
wrote:

[2020-05-14 13:01] CharnjeetIotasol commented on #69
@umesh-technource Just add the plugin like:

ionic cordova plugin add cordova-plugin-twiliovoicesdk --variable etc

Then you can simply import plugin in component where you want to use:

const declare Twilio: any;

Twilio.TwilioVoiceClient.call(this.twilioVoiceService.twilioToken, callerId);

I am already using like same way.

[2020-05-21 06:44] rahulmer commented on #71
Dear Jeff,

We recently updated the plugin in our app and when we are using the old framework
https://media.twiliocdn.com/sdk/ios/voice/releases/2.0.1/twilio-voice-ios-2.0.1.tar.bz2
We manage to receive the incoming call (When app is "set state foreground") But when its in background the callkit is not activating.

We then updated the TwilioVoice.framework to
https://www.twilio.com/docs/voice/voip

[2020-05-23 17:21] jefflinwood commented on #71
Work on Twilio Voice 5/iOS 13 is in this branch: https://github.com/jefflinwood/cordova-plugin-twiliovoicesdk/tree/update-voice-ios

[2020-05-24 04:08] rahulmer commented on #71
You are great @jefflinwood , Thanks for the fast help!
Its working perfect now :)

[2020-05-27 14:19] chakri3130 commented on #70
Can you please provide documentation for Ionic 5. Thanks in advance.

[2020-05-27 14:37] chakri3130 commented on #69
How to import plugin in component, please help me out.
Thanks in advance.

[2020-05-28 05:19] CharnjeetIotasol commented on #69
We need to import the plugin in component like this:

const declare Twilio: any;

Just below the import statements

Then we can use the plugin in component:
Twilio.TwilioVoiceClient.call(this.twilioVoiceService.twilioToken, callerId);

[2020-07-30 07:32] ashish-mw opened #72 "Could we get usage documentation for ionic please?"
It'd be great, if we had documentation for using this in ionic projects.

- How do we get the `Twilio` module accessed in our components?
- Ionic promotes capacitor.js. Is there a way to use this in react+capacitor projects?

[2020-09-21 06:46] rahulmer commented on #71
Dear Jeff,
Hope you are good.
The Twilio Voice 5 with iOS 13.7 is not receiving calls when app is not running in background, but when we open the app it do receive the call notification.

Also Twilio wants us to upgrade it to Twilio Voice 5.5.1 and iOS 14, where we are facing issues with both incoming and outgoing call

see below error

`2020-09-21 12:03:21.036138+0530 Link[687:74051] [Snapshottin

[2020-09-23 22:15] jefflinwood commented on #71
Hi! I updated the project to use Twilio Voice 5.5.1, and then to use Cocoapods for library installation. I'm going to close this issue out for now.

[2020-09-23 22:15] #71 closed

[2020-09-23 22:17] jefflinwood commented on #67
This should be published now as version 5.5.1. Thanks!

[2020-09-23 22:17] #67 closed

[2020-09-23 22:18] #38 closed

[2020-09-23 22:18] jefflinwood commented on #2
Can finally close this one out!

[2020-09-23 22:18] #2 closed

[2020-09-23 22:19] #7 closed

[2020-10-05 04:56] rahulmer commented on #71
Dear Jeff,

The updates are working with incoming calls but for outbound calls its giving error and crashing the application.
Can you please help!

Rahul

[2020-11-30 15:39] felipeaguiarphp opened #77 "incoming calls doesn't work right on android"
Hi,

i'm implementing incoming calls on twilio in my ionic app. On ios it has worked, however on android sometimes it connects and sometimes the status goes offline. Does anyone know what can it be?

[2021-02-03 19:47] mozhn opened #81 "The difference between js sdk and this repository"
Hello, first of thanks for the plugin. I have a question. I used javascript sdk in my application. Is what I do right? Should I use this plugin?

[2021-02-03 23:44] schmorrison commented on #81
This plugin is to be used in Cordova apps (eg. Ionic) on mobile devices. If you want to use Twilio on the computer browser you must use the JS SDK.

This plugin loads the Android/iOS SDK and exposes a set of methods for using the native SDK in JavaScript.

[2021-02-04 21:01] #81 closed

[2021-02-04 21:13] krolow opened #82 "Incoming calls IOS"
I'm trying to use it in iOS

I do see that the token get registered I get this log:

" Registered Voice Client for VOIP Push""

But when I call the identity nothing happens... any idea in how to debug it?

[2021-02-04 22:22] schmorrison commented on #82
I believe you must have Firebase Cloud Messaging setup and enabled to receive incoming calls. FCM token must be added as a push credential in Twilio control panel. AFAIR

[2021-02-08 18:03] krolow commented on #82
hmm okay

I have follow these steps: https://www.twilio.com/docs/voice/voip-sdk/ios/get-started#bullet7

- Create VoIP Service Certificate
-  Create a Push Credential with your VoIP Service Certificate

But I still not receiving the incoming calls

[2021-02-08 21:10] djanowski opened #83 "Ability to customize caller name in iOS CallKit"
`CXCallUpdate` supports setting a `localizedCallerName`: https://developer.apple.com/documentation/callkit/cxcallupdate.

Would it be possible to have the plugin invoke a callback for the application to provide a caller name?

[2021-02-10 14:36] krolow commented on #82
it's fixed the issue was related to not enable the voip certificate as sandbox

[2021-02-10 14:36] #82 closed

[2021-03-10 20:13] djanowski opened #84 "Upgrade to Twilio Voice SDK 6.x"
https://www.twilio.com/docs/voice/voip-sdk/ios/changelog#621

[2021-03-11 14:59] djanowski commented on #83
TIL about Call Directory: https://github.com/GEDYSIntraWare/cordova-plugin-call-directory

[2021-03-11 14:59] #83 closed

[2021-03-12 07:24] palnatisriram commented on #77
@felipeaguiarphp can you please provide steps to integrate Ionic App.

[2021-03-12 07:26] palnatisriram commented on #70
@jefflinwood Can you please provide documentation for Ionic App. It's really helpful for us. Thanks in advance.

[2021-03-17 05:10] jefflinwood commented on #84
Thanks! This is definitely on the list of improvements to make

[2021-03-17 05:14] jefflinwood opened #85 "Possibly Breaking Change: Pass all parameters through on Android"
Right now the plugin is restricted to passing through just one parameter on Android:
.
https://github.com/jefflinwood/cordova-plugin-twiliovoicesdk/blob/8c1596c9b7af88599fe892a036b4003824b09b02/src/android/com/phonegap/plugins/twiliovoice/TwilioVoicePlugin.java#L337

This update would be to match iOS:

https://github.com/jefflinwood/cordova-plugin-twiliovoicesdk/blob/8c1596c9b7af88599fe892a036b400

[2021-03-20 10:56] palnatisriram opened #86 "Ionic 5 Android Outgoing call issue"
Hi @jefflinwood,

This plugin integrated to Ionic 5. For iOS outgoing call working fine. But when it comes to android call connecting and saying  this message("Not able to proceed with  call please contact  My Domain Name"). Can you please help me out.

Ionic 5
Cordova 10

[2021-03-26 15:42] palnatisriram commented on #85
@jefflinwood outbound call working fine in iOS. Same code for Android is not working. Can you please help me out.

Thanks in Advance.

[2021-03-26 22:34] icybergenome commented on #50
@raviverma89 how you fixed this issue?

[2021-03-29 12:11] #86 closed

[2021-04-03 18:44] fluffyegg opened #87 "Is this even possible?"
Hi,

I'm trying to build a Cordova JavaScript app that uses Twilio Voice to call out (no incoming). It looks like this Cordova plugin can do that, and I've a lot of web and Cordova experience, but I can't for the life of me work out how to even begin using this plugin. There's no documentation!

Can anyone point me in the general direction of being able to set and get access tokens, make a call, e

[2021-04-06 13:06] fluffyegg commented on #87
Got this up and running on Android but it seems like a no-go on iOS with the latest build tools at the moment. I wonder if this has been updated to wrap the version 5.5.1 of the Voice SDK which is required for iOS 14 compatibility?

[2021-04-18 19:57] jefflinwood commented on #84
Fixed in https://github.com/jefflinwood/cordova-plugin-twiliovoicesdk/pull/88

[2021-04-18 19:57] #84 closed

[2021-04-18 19:58] jefflinwood commented on #87
Hi,

I don't know if updating the Twilio Voice SDK to the latest for iOS will help with this error, but version 6.0.0 of this plugin supports that (published today).

[2021-06-03 10:21] jeznag commented on #87
Still having issues with the example app :( @jefflinwood would you be open to a paid troubleshooting session to help us fix it? Thanks a lot for open sourcing it. Feel free to email me on jeremy@delugeonaluge.com if you’d be willing to help.

[2021-06-10 11:42] dhruvvarde commented on #69
@CharnjeetIotasol The way that you have showed that might work with TS file.
I am having project in ionic react + capacitor and in JS file the able declaration will not support.
can you / @jefflinwood  suggest how to use this plugin with ionic react + capacitor project ?

[2021-06-10 13:05] dhruvvarde opened #90 "Issue accessing package from Ionic 5 React + Capacitor App"
@jefflinwood
I am having project in ionic react + capacitor and in JS file the able declaration provided for IONIC in other issue will not support as the declaration is of TypeScript syntax.
can you suggest how to access this plugin methods with ionic react + capacitor project in App.JS file ?

[2021-06-20 19:03] rahulserver opened #91 "How to make a call? ( TwilioVoiceClient.call usage example missing)"
When I use `window.Twilio.TwilioVoiceClient.call(token, "client:clientname")` I don't see any calls being made in twilio console. Removing the `client:` prefix in recipient also yields same result.

So whats the right way to make a call? (An example would help. the phone gap example which uses `{ tocall: number}` as call target also does not work. I need to make call from one twilo client to anoth

[2021-07-05 14:12] MoneyWasted opened #92 "How to Setup?"
Hello, I'm trying to implement this into my company's app and I'm not seeing any installation instructions for this plugin. When I try to do `cordova plugin add cordova-plugin-twiliovoicesdk` I get an error like this

[code]

Any ideas on why I might be getting this error?

[2021-07-05 14:13] MoneyWasted commented on #92
PS. when I try to use `gem pristine ffi --version 1.14.2` I get this...
[code]

[2021-07-06 11:00] rahulserver commented on #71
Its crashing for me too on iOS. I'll open a new ticket for that issue.

[2021-07-06 11:05] rahulserver opened #93 "Call functionality broken on iOS"
Whenver I try to run the `Twilio.TwilioVoiceClient.call(token, target)`, app is crashing with this error:
[code]

[2021-07-06 11:06] rahulserver commented on #93
@rahulmer reported this issue too here https://github.com/jefflinwood/cordova-plugin-twiliovoicesdk/issues/71#issuecomment-703395327

[2021-07-06 18:26] jefflinwood commented on #92
Hi! That's actually a problem with Ruby, Cocoapods, and M1 Macs (the new ones).

Here's a workaround to use the Intel architecture for Cocoapods, for the time being:

https://medium.com/p-society/cocoapods-on-apple-silicon-m1-computers-86e05aa10d3e

You may need something similar when you run cordova.

[2021-07-07 15:45] MoneyWasted commented on #92
Thanks for the reply! I figured out the issue. I had an outdated version of something don't remember what it was but I updated and now it works.

[2021-09-17 06:28] rahul123mer opened #96 "Issue with Capacitor"
@jefflinwood
Created an issue at ionic forum, if anyone can help.
https://forum.ionicframework.com/t/installing-of-cordova-plugin-twiliovoicesdk/215123
Will wait for your update on the Capacitor

[2021-10-12 21:10] VictorPadovan1997 opened #102 "difference of this package"
What is the difference of this package:

https://github.com/jefflinwood/twilio_client_phonegap

For:

https://github.com/jefflinwood/cordova-plugin-twiliovoicesdk/

[2021-10-27 06:23] Ananerbe opened #103 "Problem with Android Studio. Execution failed for task ' :app: mergeDebugResources'."
Reinstalled Gradle and SDK, but it was unsuccessful...
![Ошибка](https://user-images.githubusercontent.com/93069299/139010935-28bb4e41-20af-496f-ab99-213cde83e966.jpg)

[2021-11-18 21:39] schmorrison commented on #69
I have a working app in Ionic4/Angular8, but updating this thing to Ionic 5 will be hell. @jefflinwood have you ever got a ionic 5 example working? Seems like capacitor is going to be a major pain.

[2022-01-04 18:24] NoNonsense126 opened #106 "Race condition between register and execute"
Hi @jefflinwood

While initializing the client, it crashes with

`java.lang.NullPointerException: accessToken must not be null`

The logs show
<img width="833" alt="Screenshot 2022-01-05 at 2 18 09 AM" src="https://user-images.githubusercontent.com/7776614/148105234-3f5e34a0-8724-469e-9d3d-10f6ff7cc0b9.png">

The order seems to be
1) Initializing TwilioVoicePlugin
2) FCM token retrieved
3) Running

[2022-01-05 05:28] NoNonsense126 commented on #106
This was caused by using a wrong version of firebase messaging.

Closed

[2022-01-05 05:28] #106 closed

[2022-01-13 00:57] jefflinwood commented on #102
The Twilio Client plugin is for an outdated, deprecated version of the Twilio Voice Client for iOS and Android.

This plugin is the current version. Thanks!

[2022-01-13 00:57] #102 closed

[2022-10-12 14:37] ipehimanshu commented on #70
Hello

is there any step how to use for ionic 5?

Thanks in advance